# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv/
*.egg-info/

# Node
node_modules/
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
static/uploads/*
models/checkpoint.pth
*.db
*.sqlite
*.sqlite3

# OS specific
.DS_Store
Thumbs.db 