Flask==3.0.2
Werkzeug==3.0.1
--only-binary=numpy
numpy>=1.19.0
opencv-python>=4.5.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.9.0
torchvision>=0.10.0
ultralytics==8.1.28
google-generativeai==0.3.2
python-dotenv==1.0.1
Pillow>=8.0.0
gunicorn==21.2.0
requests>=2.31.0
pandas==2.0.3
kaggle==1.5.12
SQLAlchemy==1.4.23
sympy==1.12
pycocotools>=2.0.6
tqdm>=4.65.0 