flask==3.0.2
numpy==1.24.3
opencv-python-headless==4.8.1.78
Pillow==10.2.0
google-generativeai==0.3.2
ultralytics==8.1.28
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.1+cpu
torchvision==0.17.1+cpu
python-dotenv==1.0.1
requests==2.31.0
pandas==1.3.3
kaggle==1.5.12
SQLAlchemy==1.4.23
Werkzeug==2.0.1
gunicorn==20.1.0 